html, body {
  font-family: 'Poppins', sans-serif;
  min-width: 300px;
  color:#4d4e53;
  background-color: #ffffff;
  line-height: 1.7;
  display: block;
  margin: 8px;
  scroll-behavior: smooth;
  background-color: #D6DBDF;
}

header {
  color: #000000;
  margin: 11px;
  text-align: center;
  font-size: 2.3em;
  font-weight: bold;
  font-variant: small-caps;
}

section article {
  color: #4d4e53;
  margin: 16px;
  font-size: 1.15em;
}

@media only screen and (max-width: 815px) #main-doc {
  position: relative;
  margin-left: 0px;
  margin-top: 275px;
}

@media only screen and (max-width: 815px) #navbar {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  max-height: 250px;
  border: none;
  z-index: 1;
  border-bottom: 1px solid;
}

#navbar {
  position: fixed;
  min-width: 280px;
  top: 0px;
  left: 0px;
  width: 310px;
  height: 100%;
  border-right: solid;
}

#navbar ul {
  height: 86%;
  overflow-x: hidden;
  overflow-y: auto;
  list-style-type: none;
}

#navbar a {
  text-decoration: none;
  cursor: pointer;
  color: #4d4e53;
}

#navbar a:hover {
  background-color: #eedc82;
}

.nav-link {
  font-size: 1.3em
}

#main-doc {
  position: absolute;
  margin-left: 300px;
  margin-top: 25px;
  padding: 20px;
  margin-bottom: 100px;
}

#main-doc header {
  text-align: left;
  margin: 0px;
}

code {
  font-weight: bold;
  background-color: white;
}